<h1> UK Road Accident Data Analysis <h1>
<hr>
<h3>Analyst: Mark Angelo P. Talento <h3>

In [6]:
import numpy as np
import pandas as pd

In [8]:
road = pd.read_csv("C:\\Users\\Admin\\Desktop\\ELEC303-3A\\datasets\\uk_road_accident.csv")
road.head()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle

<h3>Descriptive Analytics</h3>

In [11]:
print(road.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB
None

In [12]:
road.describe

<bound method NDFrame.describe of                 Index Accident_Severity Accident Date   Latitude  \
0       200701BS64157           Serious      5/6/2019  51.506187
1       200701BS65737           Serious      2/7/2019  51.495029
2       200701BS66127           Serious    26-08-2019  51.517715
3       200701BS66128           Serious    16-08-2019  51.495478
4       200701BS66837            Slight      3/9/2019  51.488576
...               ...               ...           ...        ...
660674  201091NM01760            Slight    18-02-2022  57.374005
660675  201091NM01881            Slight    21-02-2022  57.232273
660676  201091NM01935            Slight    23-02-2022  57.585044
660677  201091NM01964           Serious    23-02-2022  57.214898
660678  201091NM02142           Serious    28-02-2022  57.575210

                   Light_Conditions           District Area  Longitude  \
0             Darkness - lights lit  Kensington and Chelsea  -0.209082
1                          Daylight  Kensington and Chelsea  -0.173647
2       Darkness - lighting unknown  Kensington and Chelsea  -0.210215
3                          Daylight  Kensington and Chelsea  -0.202731
4             Darkness - lights lit  Kensington and Chelsea  -0.192487
...                             ...                     ...        ...
660674                     Daylight                Highland  -3.467828
660675       Darkness - no lighting                Highland  -3.809281
660676                     Daylight                Highland  -3.862727
660677       Darkness - no lighting                Highland  -3.823997
660678                     Daylight                Highland  -3.895673

        Number_of_Casualties  Number_of_Vehicles Road_Surface_Conditions  \
0                          1                   2                     Dry
1                          1                   2             Wet or damp
2                          1                   3                     Dry
3                          1                   4                     Dry
4                          1                   2                     Dry
...                      ...                 ...                     ...
660674                     2                   1                     Dry
660675                     1                   1            Frost or ice
660676                     1                   3            Frost or ice
660677                     1                   2             Wet or damp
660678                     1                   1             Wet or damp

                 Road_Type Urban_or_Rural_Area     Weather_Conditions  \
0       Single carriageway               Urban     Fine no high winds
1       Single carriageway               Urban  Raining no high winds
2                      NaN               Urban                    NaN
3       Single carriageway               Urban     Fine no high winds
4                      NaN               Urban                    NaN
...                    ...                 ...                    ...
660674  Single carriageway               Rural     Fine no high winds
660675  Single carriageway               Rural     Fine no high winds
660676  Single carriageway               Rural     Fine no high winds
660677  Single carriageway               Rural     Fine no high winds
660678    Dual carriageway               Rural  Snowing no high winds

                                Vehicle_Type
0                                        Car
1                                        Car
2                      Taxi/Private hire car
3       Bus or coach (17 or more pass seats)
4                              Other vehicle
...                                      ...
660674                                   Car
660675                                   Car
660676                                   Car
660677                 Motorcycle over 500cc
660678                                   Car

[660679 rows x 14 columns]>

In [13]:
road.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,660654.0,52.553866,1.406922,49.914430,51.490690,52.315641,53.453452,60.757544
Longitude,660653.0,-1.431210,1.383330,-7.516225,-2.332291,-1.411667,-0.232869,1.762010
Number_of_Casualties,660679.0,1.357040,0.824847,1.000000,1.000000,1.000000,1.000000,68.000000
Number_of_Vehicles,660679.0,1.831255,0.715269,1.000000,1.000000,2.000000,2.000000,32.000000

<h3>Cleaning the Data Frame</h3>

In [14]:
road.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

<h2>Selecting a column</h2>
<h3>Syntax</h3><br>
data_frame['column_name']

In [17]:
road['Accident_Severity']

0         Serious
1         Serious
2         Serious
3         Serious
4          Slight
           ...
660674     Slight
660675     Slight
660676     Slight
660677    Serious
660678    Serious
Name: Accident_Severity, Length: 660679, dtype: object

In [19]:
road['Accident Date']

0           5/6/2019
1           2/7/2019
2         26-08-2019
3         16-08-2019
4           3/9/2019
             ...
660674    18-02-2022
660675    21-02-2022
660676    23-02-2022
660677    23-02-2022
660678    28-02-2022
Name: Accident Date, Length: 660679, dtype: object

In [20]:
road['Light_Conditions']

0               Darkness - lights lit
1                            Daylight
2         Darkness - lighting unknown
3                            Daylight
4               Darkness - lights lit
                     ...
660674                       Daylight
660675         Darkness - no lighting
660676                       Daylight
660677         Darkness - no lighting
660678                       Daylight
Name: Light_Conditions, Length: 660679, dtype: object

In [21]:
road['District Area']

0         Kensington and Chelsea
1         Kensington and Chelsea
2         Kensington and Chelsea
3         Kensington and Chelsea
4         Kensington and Chelsea
                   ...
660674                  Highland
660675                  Highland
660676                  Highland
660677                  Highland
660678                  Highland
Name: District Area, Length: 660679, dtype: object

In [22]:
road['Number_of_Casualties']

0         1
1         1
2         1
3         1
4         1
         ..
660674    2
660675    1
660676    1
660677    1
660678    1
Name: Number_of_Casualties, Length: 660679, dtype: int64

In [23]:
road['Number_of_Vehicles']

0         2
1         2
2         3
3         4
4         2
         ..
660674    1
660675    1
660676    3
660677    2
660678    1
Name: Number_of_Vehicles, Length: 660679, dtype: int64

In [25]:
road['Vehicle_Type']

0                                          Car
1                                          Car
2                        Taxi/Private hire car
3         Bus or coach (17 or more pass seats)
4                                Other vehicle
                          ...
660674                                     Car
660675                                     Car
660676                                     Car
660677                   Motorcycle over 500cc
660678                                     Car
Name: Vehicle_Type, Length: 660679, dtype: object

<h1>How to Fill-up Null Values</h1>

In [29]:
road['Accident_Severity'] = road['Accident_Severity'].fillna(road['Accident_Severity'].mode()[0])
road['Light_Conditions'] = road['Light_Conditions'].fillna(road['Light_Conditions'].mode()[0])
road['District Area'] = road['District Area'].fillna(road['District Area'].mode()[0])
road['Road_Surface_Conditions'] = road['Road_Surface_Conditions'].fillna(road['Road_Surface_Conditions'].mode()[0])
road['Road_Type'] = road['Road_Type'].fillna(road['Road_Type'].mode()[0])
road['Urban_or_Rural_Area'] = road['Urban_or_Rural_Area'].fillna(road['Urban_or_Rural_Area'].mode()[0])
road['Weather_Conditions'] = road['Weather_Conditions'].fillna(road['Weather_Conditions'].mode()[0])
road['Vehicle_Type'] = road['Vehicle_Type'].fillna(road['Vehicle_Type'].mode()[0])
road['Latitude'] = road['Latitude'].fillna(road['Latitude'].mean())
road['Longitude'] = road['Longitude'].fillna(road['Longitude'].mean())

print(road.isnull().sum())

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

# Insight #1

<h3>1. How many total accidents are in the dataset?<h3>

In [33]:
print("Total accidents:", len(road))

Total accidents: 660679

<h3>2. How many unique accident severities are recorded?<h3>

In [34]:
print("Unique Accident Severity levels:", road['Accident_Severity'].unique())

Unique Accident Severity levels: ['Serious' 'Slight' 'Fatal']

<h3>3. Which severity occurs most often?<h3>

In [35]:
print(road['Accident_Severity'].value_counts())

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h3>4. Average number of vehicles involved per accident?<h3>

In [36]:
print("Average vehicles per accident:", road['Number_of_Vehicles'].mean())

Average vehicles per accident: 1.8312554205597575

<h3>5. Average number of casualties per accident?<h3>

In [37]:
print("Average casualties per accident:", road['Number_of_Casualties'].mean())

Average casualties per accident: 1.357040257068864

<h3>6. Maximum casualties in a single accident?<h3>

In [38]:
print("Max casualties in one accident:", road['Number_of_Casualties'].max())

Max casualties in one accident: 68

<h3>7. Which weather condition had the most accidents?<h3>

In [39]:
print(road['Weather_Conditions'].value_counts())

Weather_Conditions
Fine no high winds       535013
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

<h3>8. Which road type is most accident-prone?<h3>

In [40]:
print(road['Road_Type'].value_counts())

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h3>9. Which road surface condition is most common during accidents?<h3>

In [41]:
print(road['Road_Surface_Conditions'].value_counts())

Road_Surface_Conditions
Dry                     448547
Wet or damp             186708
Frost or ice             18517
Snow                      5890
Flood over 3cm. deep      1017
Name: count, dtype: int64

<h3>10. Which light condition has the most accidents?<h3>

In [42]:
print(road['Light_Conditions'].value_counts())

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

<h3>11. Urban vs Rural — where do more accidents occur?<h3>

In [43]:
print(road['Urban_or_Rural_Area'].value_counts())

Urban_or_Rural_Area
Urban          421678
Rural          238990
Unallocated        11
Name: count, dtype: int64

<h3>12. Average number of casualties by accident severity<h3>

In [44]:
print(road.groupby('Accident_Severity')['Number_of_Casualties'].mean())

Accident_Severity
Fatal      1.903129
Serious    1.467280
Slight     1.331402
Name: Number_of_Casualties, dtype: float64

<h3>13. Average number of vehicles by accident severity<h3>

In [45]:
print(road.groupby('Accident_Severity')['Number_of_Vehicles'].mean())

Accident_Severity
Fatal      1.786976
Serious    1.678327
Slight     1.855864
Name: Number_of_Vehicles, dtype: float64

<h3>14. Correlation between vehicles and casualties<h3>

In [46]:
print(road[['Number_of_Vehicles','Number_of_Casualties']].corr())

                      Number_of_Vehicles  Number_of_Casualties
Number_of_Vehicles              1.000000              0.228889
Number_of_Casualties            0.228889              1.000000

<h3>15. Month with the most accidents (if Accident Date is parsed as datetime)<h3>

In [49]:
road['Accident Date'] = pd.to_datetime(road['Accident Date'], dayfirst=True, errors='coerce')

print(road['Accident Date'].dt.month.value_counts())

Accident Date
11.0    24240
12.0    24156
10.0    23962
7.0     22939
9.0     22558
2.0     22264
6.0     22196
3.0     21824
5.0     21723
8.0     21106
4.0     19787
1.0     18252
Name: count, dtype: int64

<h3>16. Day of week with most accidents<h3>

In [50]:
print(road['Accident Date'].dt.day_name().value_counts())

Accident Date
Saturday     43164
Wednesday    40037
Friday       39822
Thursday     39641
Tuesday      38714
Sunday       35065
Monday       28564
Name: count, dtype: int64

<h3>17. Average casualties depending on road type<h3>

In [51]:
print(road.groupby('Road_Type')['Number_of_Casualties'].mean())

Road_Type
Dual carriageway      1.477279
One way street        1.192713
Roundabout            1.274891
Single carriageway    1.343788
Slip road             1.423661
Name: Number_of_Casualties, dtype: float64

<h3>18. Top 5 weather conditions with highest average casualties<h3>

In [52]:
print(road.groupby('Weather_Conditions')['Number_of_Casualties'].mean().sort_values(ascending=False).head())

Weather_Conditions
Fog or mist              1.452948
Snowing + high winds     1.418079
Raining + high winds     1.416641
Raining no high winds    1.408214
Fine + high winds        1.386018
Name: Number_of_Casualties, dtype: float64

<h3>19. Vehicle type most often involved in accidents<h3>

In [53]:
print(road['Vehicle_Type'].value_counts())

Vehicle_Type
Car                                      497992
Van / Goods 3.5 tonnes mgw or under       34160
Bus or coach (17 or more pass seats)      25878
Motorcycle over 500cc                     25657
Goods 7.5 tonnes mgw and over             17307
Motorcycle 125cc and under                15269
Taxi/Private hire car                     13294
Motorcycle over 125cc and up to 500cc      7656
Motorcycle 50cc and under                  7603
Goods over 3.5t. and under 7.5t            6096
Other vehicle                              5637
Minibus (8 - 16 passenger seats)           1976
Agricultural vehicle                       1947
Pedal cycle                                 197
Data missing or out of range                  6
Ridden horse                                  4
Name: count, dtype: int64

<h3>20. Accident hot-spot (most frequent Latitude/Longitude combination)<h3>

In [54]:
print(road.groupby(['Latitude','Longitude']).size().sort_values(ascending=False).head(1))

Latitude   Longitude
52.949719  -0.977611    45
dtype: int64