<h1>Palmer Penguin Data Analytics</h1>
<hr>
<h3>Analyst: Talento, Mark Angelo P.</h3>

In [1]:
import numpy as np
import pandas as pd

<h3>Importing dataset to Jupyter Notebook</h3>
<h3>Converting datset to dataframe</h3>
<ul>Requirements
    <li>Name of the dataframe</li>
    <li>Source</li>
</ul>

In [2]:
penguins = pd.read_csv('C:\\Users\\Admin\\Desktop\\ELEC303-3A\\datasets\\penguins.csv')

<h3>Descriptive Analytics</h3>

In [27]:
print(penguins.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB
None

In [26]:
penguins.describe

<bound method NDFrame.describe of        species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen            41.1           17.0              190.0
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex  year
0         3750.0    male  2007
1         3800.0  female  2007
2         3250.0  female  2007
3         3800.0    male  2007
4         3450.0  female  2007
..           ...     ...   ...
339       4000.0    male  2009
340       3400.0  female  2009
341       3775.0    male  2009
342       4100.0    male  2009
343       3775.0  female  2009

[344 rows x 8 columns]>

In [4]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h3>Cleaning the Data Frame</h3>

In [5]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h2>Selecting a column</h2>
<h3>Syntax</h3><br>
data_frame['column_name']

In [6]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [7]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

In [8]:
penguins[penguins['island'] == 'Dream']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [9]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [10]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [11]:
chinstrap_df = penguins[penguins['species'] == "Chinstrap"]

In [12]:
chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [13]:
adelie_df = penguins[penguins['species'] == "Adelie"]
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [14]:
gentoo_df = penguins[penguins['species'] == "Gentoo"]
gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

How many chinstrap penguins whose weight is above 4000g?

In [15]:
penguins['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [16]:
chinstrap_heavy = penguins[(penguins['body_mass_g'] >= 4000) & (penguins['species'] == "Chinstrap")]
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

<h1>How to Fill-up Null Values</h1>

In [17]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mode()[0])
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mode()[0])
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mode()[0])
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mode()[0])

In [18]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

# Insight #1

<h1>Question</h1>

<h1>1. How to find the average flipper length per species?</h1>

In [19]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1>2. How can we count the number of penguins for each island in the Palmer Penguins dataset?</h1>

In [20]:
island_counts = penguins['island'].value_counts()

print(island_counts)

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1>3. How do I check the first few rows of the penguins dataset?</h1>

In [21]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,41.1,17.0,190.0,3800.0,male,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

<h1>4. What is the mean flipper length of penguins on each island?</h1>

In [22]:
penguins.groupby('island')['flipper_length_mm'].mean()

island
Biscoe       209.589286
Dream        193.072581
Torgersen    191.173077
Name: flipper_length_mm, dtype: float64

<h1>5. What is the median body mass of penguins per species?</h1

In [23]:
penguins.groupby('species')['body_mass_g'].median()

species
Adelie       3700.0
Chinstrap    3700.0
Gentoo       5000.0
Name: body_mass_g, dtype: float64

<h1>6. What island is the least population of Penguins?</h1

In [24]:
island_counts = penguins['island'].value_counts()
least_populated_island = island_counts.idxmin()
print("Island penguin counts:\n", island_counts)
print("\nThe island with the least penguins is:", least_populated_island)

Island penguin counts:
 island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

The island with the least penguins is: Torgersen

<h1>7. What is the average weight of Penguins on all island?</h1

In [25]:
average_weight_per_island = penguins.groupby('island')['body_mass_g'].mean()

print("Average penguin weight (grams) for each island:\n", average_weight_per_island)

Average penguin weight (grams) for each island:
 island
Biscoe       4710.565476
Dream        3712.903226
Torgersen    3708.173077
Name: body_mass_g, dtype: float64

<h1>8. Is bill length related to bill depth?</h1>

In [32]:
corr_bill = penguins["bill_length_mm"].corr(penguins["bill_depth_mm"])
print("Correlation between bill length & bill depth:", round(corr_bill, 2))

Correlation between bill length & bill depth: -0.23

<h1>9. Is body mass related to flipper length?<h1>

In [34]:
corr_flipper_body = penguins["flipper_length_mm"].corr(penguins["body_mass_g"])
print(" Correlation between flipper length & body mass:", round(corr_flipper_body, 2))

 Correlation between flipper length & body mass: 0.87